<!doctype html>
<html lang="en" class="h-100" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title layout:title-pattern="$LAYOUT_TITLE $CONTENT_TITLE">XPlanner</title>
	<link href="/xplanner/bootstrap/5.3.2/css/bootstrap.css" rel="stylesheet">
	<link th:href="@{/bootstrap-icons/1.11.1/bootstrap-icons.css}" rel="stylesheet">
	<link href="/xplanner/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" type=image/x-icon th:href="@{/images/favicon2.ico}" />
</head>

<body class="d-flex flex-column h-100">
	<header>
		<div class="px-3 py-2 border-bottom default-bg">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a th:href="@{/}"
							class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
						<img th:src="@{/images/logo.png}" width="200">
					</a>

					<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
						<li>
							<a th:href="@{/do/view/people(returnto=${requestURL})}"
									class="nav-link text-white"
									th:title="#{navigation.people}">
								<i class="bi bi-people"></i>
							</a>
						</li>
						<li>
							<a th:href="@{/do/view/aggregateTimesheet(returnto=${requestURL})}"
									class="nav-link text-white"
									th:title="#{navigation.timesheet}">
								<i class="bi bi-speedometer2"></i>
							</a>
						</li>
						<li>
							<a th:href="@{/setting/me/status/{id}(id=${authenticatedUser.id},returnto=${requestURL})}"
									class="nav-link text-white"
									th:title="${loggedUsername}">
								<i class="bi bi-person-circle"></i>
							</a>
						</li>
						<li>
							<a th:href="@{/logout}"
									class="nav-link text-white"
									th:title="#{logout}">
								<i class="bi bi-box-arrow-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="px-3 py-2 border-bottom mb-3">
			<div class="container justify-content-center">
				<div class="row justify-content-between">
					<div class="col-6">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb pt-2" style="margin-bottom: 0px">
								<li class="breadcrumb-item">
									<a class="link-body-emphasis" th:href="@{/}" th:title="#{navigation.home}">
										<i class="bi bi-house-door-fill"></i>
									</a>
								</li>

								<li class="breadcrumb-item" th:each="breadCrumb: ${breadCrumbs}"
								        th:classappend="${breadCrumb.currentPage? 'active' : ''}">
									<a class="link-body-emphasis fw-semibold text-decoration-none"
									        th:if="${!breadCrumb.currentPage}"
									        th:href="@{${breadCrumb.link}}"
									        th:text="${breadCrumb.label}"
									        th:attr="aria-current=${breadCrumb.currentPage}?page">BreadCrumb</a>
									<span th:if="${breadCrumb.currentPage}"
									        th:text="${breadCrumb.label}" th:remove="tag"></span>
								</li>
							</ol>
						</nav>
					</div>
					<div class="col-4 text-end">
						<form id="form-search-projects" class="form-inline" role="search" th:action="@{/do/search/content}">
							<div class="input-group">
								<input name="searchedContent"
								       type="search" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="button-search">
								<input type="hidden" name="restrictToProjectId" th:if="${project != null}" th:value="${project.id}"/>
								<button id="button-search"
								        class="btn btn-outline-secondary on-hover-fill-white"
								        type="button"
										onclick="document.getElementById('form-search-projects').submit();">
									<i class="bi bi-search"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container" style="margin-bottom: 75pt" layout:fragment="content">
		<p>master layout</p>
	</div>

	<footer class="footer mt-auto py-3">
		<div class="px-3 border-top justify-content-between" style="background: white">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-8">
						Copyright &copy; 2021-<span th:text="${#dates.year(#dates.createNow())}" th:remove="tag"></span> &mdash; Alessandro Iezzi
						<p style="margin: 0; padding: 0"><small class="text-muted" th:utext="${versionLabel}"></small></p>
						<p style="margin: 0; padding: 0"><small class="text-muted" th:utext="${footerMessage}"></small></p>
					</div>
				</div>
			</div>
		</div>
	</footer>

<!--	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

		</footer>
	</div>-->

	<script src="/xplanner/bootstrap/5.3.2/js/bootstrap.bundle.js"></script>
	<script src="/xplanner/popper/2.11.8/popper.js"></script>
	<script src="/xplanner/bootstrap/5.3.2/js/bootstrap.js"></script>
</body>
</html>