<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="thymeleaf/master">
<head>
	<title th:text="#{projects.title}"></title>
</head>
<body>
<div layout:fragment="content">
	<div class="row justify-content-between">
		<div class="col-4 btn-toolbar mb-1">
			<ul class="nav">
				<li class="nav-item">
					<a th:if='${pagePermissions.get("create.project")}'
					        th:href="@{/do/edit/project(returnto=${requestURL})}"
					        role="button" class="btn btn-primary"
					        xplanner:text="#{projects.link.add_project}">
						<i class="bi bi-file-earmark-plus"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-4 text-end">
			<h1 th:text="#{projects.title}"></h1>
		</div>
	</div>

	<div class="row">
		<table class="table table-striped table-xplanner">
			<thead>
			<tr>
				<th style="width: 15%" scope="col" th:text="#{iterations.tableheading.actions}">Actions</th>
				<th scope="col" th:text="#{objects.tableheading.id}">ID</th>
				<th scope="col" th:text="#{projects.tableheading.name}">Name</th>
				<th scope="col" th:text="#{projects.tableheading.iteration}">Iteration</th>
				<th th:if="${canViewHiddenProjects}" scope="col" th:text="#{projects.tableheading.ishidden}">Hidden</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="project: ${projects}">
				<td>
					<a class="btn btn-primary"
					        role="button"
					        th:href="@{/projects/{oid}/timelog(oid=${project.id})}"
					        th:title="#{timesheet.label.total}">
						<i class="bi bi-calendar3"></i>
					</a>

					<a class="btn"
					        th:classappend="${project.editable? 'btn-primary' : 'btn-secondary disabled'}"
					        role="button"
					        th:aria-disabled="${!project.editable}"
					        th:href="@{/do/edit/project(returnto=${requestURL},oid=${project.id})}"
					        th:title="#{action.edit.project}">
						<i class="bi bi-pencil-square"></i>
					</a>

					<a class="btn"
					        th:classappend="${project.deletable? 'btn-primary' : 'btn-secondary disabled'}"
					        role="button"
					        th:aria-disabled="${!project.deletable}"
					        th:href="@{/do/delete/project(returnto=${requestURL},oid=${project.id})}"
					        th:title="#{action.delete.project}">
						<i class="bi bi-trash"></i>
					</a>
				<th><a th:href="@{/do/view/project(returnto=${requestURL},oid=${project.id})}" th:text="${project.id}"></a></th>
				<td><a th:href="@{/do/view/project(returnto=${requestURL},oid=${project.id})}" th:text="${project.name}"></a></td>
				<td>
					<a th:if="${project.currentIteration != null}"
					        th:href="@{/do/view/iteration(returnto=${requestURL},oid=${project.currentIteration.id})}"
					        th:text="${project.currentIteration.name}"></a>
				</td>
				<td th:if="${canViewHiddenProjects}">
					<i th:if="${project.hidden}" class="bi bi-check2 fs-4"></i>
				</td>
			</tr>
			</tbody>

		</table>
	</div>
</div>
</body>
</html>
